/* Regular */
.body-12-regular {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
}

/* Semi Bold */
.body-12-semibold {
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}

.body-14-semibold {
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

.body-20-semibold {
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
}

.body-14-medium {
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}

/* Title */
.title-24-semibold {
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
}

.title-40-semibold {
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-size: 40px;
  line-height: 50.4px;
  letter-spacing: 0%;
}

.title-56-semibold {
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-size: 56px;
  line-height: 70.56px;
  letter-spacing: 0%;
}
