.homeDisplay {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: black;
}

.homeLayout {
  height: 100%;
}

.sliding-lights {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300%;
  height: 80%;
  background: url("/src/assets/Lights.png"),
    url("/src/assets/lights-mirror.png");
  background-size: 50% 100%;
  background-repeat: repeat-x;
  background-position: 100% 0%, 100% 0%;
}

.sliding-coin-right {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  width: 650px;
  height: 650px;
  background: url("/src/assets/Image_right.avif");
  background-size: 100%;
  object-fit: cover;
}

.sliding-coin-right-2 {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 350px;
  background: url("/src/assets/Image_right_2.avif");
  background-size: 100%;
  background-repeat: no-repeat;
}

.sliding-coin-left {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  background: url("/src/assets/Image_left.avif");
  background-size: 100%;
  background-repeat: no-repeat;
}

/* Hero Section */

.hero-display {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* background-color: var(--color-bg-home); */
}

.heroLayout {
  flex: 1;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: var(--color-bg-home);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero-subwrapper {
  z-index: 2;
  max-width: 1280px;
  gap: 80px;
  display: flex;
  flex-direction: column;
}

.hero-content-layout {
  color: var(--color-content-main);
  z-index: 12;
  height: 253px;
  width: 762px !important;
  background-color: transparent;
}

.hero-content-titles {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: baseline;
}

.hero-content-sm-title {
  background: linear-gradient(90deg, #e1faff 0%, #7ce5fc 48.47%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-content-cards-layout {
  z-index: 10;
  width: 963px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero-content-card-gap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 53px;
}

.hero-card-icon {
  width: 100px;
  height: 100px;
}

.hero-card-layout {
  width: 250px;
  height: 274px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero-card-title {
  color: var(--color-content-main);
}

.hero-card-content {
  color: var(--color-white-80);
}

.hero-card-seperator {
  width: 1px;
  height: 160px;
  border: 1px solid var(--color-white-10);
}

@media (max-width: 1440px) {
  .hero-content-layout {
    width: 413px !important;
  }

  .hero-content-lg-title {
    font-size: 40px;
    line-height: 50.4px;
  }

  .hero-subwrapper {
    max-width: 940px;
  }
}

@media (max-width: 1100px) {
  .hero-content-cards-layout {
    width: 820px;
  }

  .hero-content-card-gap {
    gap: 12px;
  }
}

@media (max-width: 850px) {
  .hero-content-cards-layout {
    width: 620px;
  }

  .hero-card-layout {
    width: 200px;
    height: 360px;
    justify-content: space-between;
  }

  .hero-card-seperator {
    display: none;
  }

  .sliding-coin-left {
    width: 200px;
    height: 200px;
    background-size: 100%;
  }

  .sliding-coin-right {
    width: 450px;
    height: 450px;
    background-size: 100%;
  }

  .sliding-coin-right-2 {
    width: 250px;
    height: 250px;
    background-size: 100%;
  }
}

@media (max-width: 768px) {
  .sliding-coin-right-2 {
    display: none;
  }

  .hero-content-cards-layout {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .hero-card-layout {
    width: 360px;
    height: auto;
    gap: 14px;
  }

  .hero-content-lg-title {
    font-size: 24px;
    line-height: 34px;
  }

  .hero-content-sm-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  .hero-subwrapper {
    gap: 48px !important;
  }

  .hero-content-layout {
    height: auto !important;
    width: 360px !important;
  }

  .hero-card-icon {
    width: 40px;
    height: 40px;
  }

  .hero-card-seperator {
    display: block;
    width: 320px;
    height: 1px;
    border: 1px solid var(--color-white-10);
  }

  .hero-content-card-gap {
    flex-direction: column;
    gap: 20px;
  }

  .hero-display {
    overflow-y: scroll;
  }

  .heroLayout {
    justify-content: end;
    padding-bottom: 30px;
  }
}

@media (max-width: 400px) {
  .sliding-coin-left {
    width: 130px;
    height: 130px;
    background-size: 100%;
  }

  .sliding-coin-right {
    width: 250px;
    height: 250px;
    background-size: 100%;
  }

  .hero-content-layout {
    width: 320px !important;
  }

  .hero-card-layout {
    width: 320px;
  }

  .heroLayout {
    padding-bottom: 20px;
  }
}
