.homeDisplay {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: var(--color-bg-home);
  /* background-color: #ffffff; */
}

.homeLayout {
  height: 100%;
}

.sliding-lights {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300%;
  height: 80%;
  background: url("/src/assets/Lights.png"),
    url("/src/assets/lights-mirror.png");
  background-size: 50% 100%;
  background-repeat: repeat-x;
  background-position: 100% 0%, 100% 0%;
}

/* Hero Section */

.hero-display {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* background-color: var(--color-bg-home); */
}

.heroLayout {
  flex: 1;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: var(--color-bg-home);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero-subwrapper {
  z-index: 2;
  width: 1160px;
  max-width: 1280px;
  gap: 80px;
  display: flex;
  flex-direction: column;
}

.hero-content-layout {
  color: var(--color-content-main);
  z-index: 12;
  height: 253px;
  width: 762px !important;
  background-color: transparent;
}

.hero-content-cards-layout {
  z-index: 10;
  width: 963px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero-card-icon {
  width: 100px;
  height: 100px;
}

.hero-card-layout {
  width: 250px;
  height: 274px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero-card-title {
  color: var(--color-content-main);
}

.hero-card-content {
  color: var(--color-white-80);
}

.hero-card-seperator {
  width: 1px;
  height: 160px;
  border: 1px solid var(--color-white-10);
}

.hero-card-seperator:last-of-type {
  display: none;
}

/* Footer */

.hero-footer {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;

  max-width: 1440px;
  overflow: hidden;
}

.brands-wrapper {
  display: flex;
  flex-direction: row;
  gap: 70px;
}
